@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');
body {
    margin: 0px;
    background-color: rgb(252, 248, 248);
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 2px #ccc;
    padding: 5px 25px;
}
#logo {
    width: 120px;
    height: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.topbar_item {
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 0px 25px;
    font-family: 'Poppins', sans-serif;
    color: rgb(165, 161, 161);
}
.topbar_item:hover {
    font-weight: 600;
    color: #000;
    border-bottom: 3px solid #5243C0;
    transition: 0.1s;
}
#navbutton {
    background-color: #FFD8DB;
    padding: 15px 24px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #8071D0;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    margin-right: 40px;
}

#navbutton:hover {
    background-color: #f06b76;
    color: #fff;
}

main {
    display: flex;
}

section {
    margin-left: 40px;
}

#header {
    width: 60%;
    height: 250px;
    position: relative;
    margin-left: 25%;
    margin-top: 11%;
    margin-right: 0px;
}

h1 {
    font-size: 40px;
    letter-spacing: 0px;
    font-weight: 800;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.blue-mark {
    font-size: 7px;
    color: #4936df;
    margin-left: 3px;
}

#landingtext {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

#landingbutton {
    background-color: #5243C0;
    padding: 15px 24px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
}

#landingbutton:hover {
    background-color: #9f9ac2;
    color: #000;
}

#button-arrow {
    display: flex;
    margin-top: 30px;
}

.arrow {
    font-size: 31px;
    color: #ccc;
    border-radius: 30px;
    cursor: pointer;
    margin: 5px;
}

.arrow:hover {
    transform: scale(1.05);
}


#profile {
    margin-top: 10px;
    width: 60%;
    height: 300px;
    margin-left: 25%;
}

.userprofile {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 20px;
}
.active {
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px; 
}
.active .checkbox{
    background-color: rgb(94, 94, 238);
    border-radius: 50px;
    transition: 0.5s;
}
.userprofile:hover {
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
}

.checkbox {
    font-size: 32px;
    color: #ccc;
}

.userprofile:hover .checkbox {
    background-color: rgb(94, 94, 238);
    border-radius: 50px;
    transition: 0.5s;
}

.profile-text {
    font-family: 'Poppins', sans-serif;
    margin: 0px 10px;
    width: 30%;
    letter-spacing: -0.7px;
}

.userimage {
    margin-left: 35px;
}

.date {
    font-family: 'Poppins', sans-serif;
    color: #ccc;
    margin-left: 10px;
}

.userindicator {
    width: 7%;
    height: 10px;
    border-radius: 20px;
    background-color: black;
    margin-left: 15px;
}

#pink-user {
    background-color: #FED7DA;
}

#orange-user {
    background-color: #FD6534;
}

#blue-user {
    background-color: #9ED095;
}

#red-user {
    background-color: #FFE4A0;
}

aside {
    height: 560px;
    width: 50%;
    position: relative;
    margin-top: 5%;
}
#landing_image{
    height: 100%;
    width: 100%;
}
